#para-1 {
    border: 2px solid red;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
}

#para-2 {
    border: 2px solid blue;
    margin: 100px;
}

#para-3 {
    border: 2px solid rebeccapurple;
    margin: 100px 0 100px 0;
}

#para-4 {
    border: 2px dashed purple;
    margin: 100px 200px 100px 200px;
}