.text-color-red {
    color: red;
}

.background-color-yellow {
    background-color: yellow;
}

.background-color-blue {
    background-color: blue;
}

.text-color-white {
    color: white;
}

.font-size-32 {
    font-size: large;
}