
.item {
    margin: 25px;
    border: 20px;
    padding: 15px;
    background-color: gray;
    color: white;
    height: 50px;
    width: 50px;
}

.container{
    background-color: greenyellow;
    display: flex;
    flex-direction:row;
    justify-content: center;
}

@media (max-width:420px) {
   .container {
    background-color: purple;
    display: flex;
    flex-direction:column;
    align-items: center;
   }
}

@media ((min-width:421px) and (max-width:1030px)){
   .container {
    background-color: burlywood;   
    display: flex;
    flex-direction:column;
    align-items: center;
}
}