.child_container1 {
    background-color: tomato;
    color: white;
    padding: 20px;
    height: 100px;
    width: 100px;
    text-align: center;
    animation-name: container;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes container {

    0%{
        background-color: blue;
        transform: rotate(360deg);
    }

    50%{
        background-color: yellowgreen;
        transform: rotate(360deg) scale(2.5);
    }

    100%{
        background-color: blueviolet;
        transform: rotate(360deg) scale(5.5);
    }
    
}