.container1{
    border: 2px solid green;
    margin: 50px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 2px;
}

p{
    border: 2px solid red;
    margin: 50px;
    line-height: 2;
    letter-spacing: 2px;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-letter-spacing{
    letter-spacing: 1.5px;
}

.container2{
    border: 2px solid red;
    margin: 50px;
    padding: 20px;

    h4 + ul {
        li {
        list-style-type: none;
        }
        

    a{
        text-decoration: none;
        letter-spacing: 1.5px;
        line-height: 2;
    }
}