
.product {
    margin: 25px;
    border: 20px;
    padding: 15px;
    background-color: tomato;
    color: white;
    flex-direction: column;
    height: fit-content;
    width: 200px;
    border-radius: 8px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#button {
    padding: 10px 20px;
    width: 200px;
    border-radius: 4px;
    background-color: crimson;
    color: white;    
}
