#para-1 {
    border-width: 3px;
    border-style: solid;
    border-color: green;
}

#para-2 {
    border: 3px solid blue;
}

#para-3 {
    border: 2px dashed red;
    border-radius: 100px;
}

button {
    border-radius: 200px;
}